body {
    background: rgb(162, 143, 218);
    font: normal 15pt Arial;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

header {
    color: white;
    text-align: center;



}

section {
    background: white;
    border-radius: 18px;   /* Borda arredondada */
    padding: 15px;  
    width: 500px;  /* Largura*/
    margin: auto; /* Centralizado*/
    box-shadow: 5px 5px 10px rgba(29, 27, 27, 0.359); /* Sombra*/
    

}

div {
    text-align: center;
    padding: 8px;
}

footer{

    color: white;
    text-align: center;
    font-style: italic;
}

